# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build outputs
build/
dist/
.next/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Payload media
**/public/media/

# TypeScript build info
*.tsbuildinfo
